<div class='row justify-content-center'>

  <div class='col-md-8'>

    <%= form_for @article do |f| %>

      <div class="form-group row">
          <%= f.label :title, class: 'col-2 col-form-label' %>
        <div class="col-10">
          <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :description, class: 'col-2 col-form-label' %>
        <div class="col-10">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Body of article" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12">
          <%= f.submit class: 'btn btn-primary float-right' %>
        </div>
      </div>

    <% end %>

  </div>

  <div class="col-12 text-center">
    [ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
  </div>


</div>